includeConfig 'config/params.yaml'
// nextflow.config - Configuración limpia y validada

profiles {
    // Perfil estándar para trabajar de forma aislada con Docker
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    
    // Dejamos el perfil de Singularity listo por si lo necesitamos en un futuro
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

// Configuración por defecto para optimizar recursos en mi PC local
process {
    cpus   = 2
    memory = '4 GB'
}